/* jQuery slideshow 1.0.0 */
.slideshow-selector-buttons {
    margin: 0;
    padding: 0;
    position: absolute;
}

.slideshow-selector-buttons li {
    background: #000;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.89);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.89);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.89);
    width: 1em;
    height: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    margin:2px;
    list-style: none;
    cursor: pointer;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    z-index: 1000;
}
.slideshow-selector-buttons li.selected {
    background: #FFF;
}